@model IEnumerable<gropgit.Models.Shoe>

@{
    ViewData["Title"] = "Index";
}

<h1>רשימת הנעליים</h1>

<p>
    <a asp-action="Create">הוספת נעל</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.measure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.measure)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td> *@
                <td>
                    <div style="background-color:@item.Color; width:60px; height:60px; "></div>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Image)
              
            </td *@>
                <td>
                    <img src=@item.Image alt="Alternate text" width="60" />
                    

                </td>

            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShoeId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.ShoeId })
            </td>
        </tr>
}
    </tbody>
</table>
